
<div class="login_first_page_div">
  <% if current_user %>
  Välkommen <%= current_user.name %> | <%= link_to "Logga ut", '/logout' %>
  <% else %>
  <%= link_to "Logga in |", '/login', id: "login" %> <%= link_to "Registrera konto", '/signup', id:"signup"%>  <%#= link_to "Jämför Leverantörer", '/page1', id:"jämför" %>
  <% end %>
</div>

<div class="row">

<div class="col-md-6 logo">

  <h1 class="h1_index"> &#9678;Digirek
  </h1><p>Choose the right recruitment partner for you</p>
  </div>

  <div class="col-md-6 navbar_column">
  <nav class="navbar navbar-default navbar-fixed-top">



          <ul class="nav nav-tabs">
            <li role="presentation">
              <%= link_to "Hem", '/main_page', id: "mainpage" %>
            </li>
            <li role="presentation">
              <%= link_to "Hitta leverantörer", '/page1', id: "mainpage" %>
            </li>
            <li role="presentation" class="active">
              <%= link_to "Om Oss", '/om_oss', class:"top_menu" %>
            </li>
            <li role="presentation" class="active">
              <%= link_to "Kontakt", '/om_oss', class:"top_menu" %>
            </li>
            <!-- <li role="presentation" class="login_register_option">

            </li> -->
          </ul>

      </nav>
  </div>
</div>

      <div class=" row_first_page">

      <div>
        <!-- 50% width -->
        <h2 class="h4">
          Vi hjälper dig välja rätt bemanning och rekryteringsbolag
        </h2>
        <break></break>
        <p class="premble last">
          Digirek.se är en enkel plattform där du kan se vilka rekrytering och bemannings bolag som finns i din stad, och kan hjälpa dig med ditt behov.
        </p>

        <form action="/page1" accept-charset="UTF-8" method="get" id='form_main_page'><input name="utf8" type="hidden" value="✓">
              <input type="submit" name="commit" value="Starta" class="submit_prod_area, btn btn-primary btn-lg button pulse fadeInLeft" data-disable-with="Starta">
        </form>



</div>
      </div>

Jönköping

<div>
<footer>
    <p class="footer_index_text">          Digirek AB <br> org.nr: 556976-8269 <br>
  Gumshornsgatan 7, 114 60 Göteborg
  </p>


    <a href="#" class="fa fa-facebook"></a>

    <a href="#" class="fa fa-linkedin"></a>

    <a href="#" class="fa fa-instagram"></a>

    <a href="#" class="fa fa-youtube"></a>
</footer>
</div>
