<body>

<div class="image_background_om_oss">

  <nav class="navbar navbar-default navbar-fixed-top">

          <h1 class="h1_index"> &#9678;
            Digirek.se
          </h1>

          <ul class="nav nav-tabs">
            <li role="presentation">
              <%= link_to "Hem", '/main_page', id: "mainpage" %>
            </li>
            <li role="presentation">
              <%= link_to "Hitta leverantörer", '/page1', id: "mainpage" %>
            </li>
            <li role="presentation" class="active">
              <%= link_to "Om Oss", '/om_oss', class:"top_menu" %>
            </li>
            <li role="presentation" class="active">
              <% if current_user %>
              Välkommen <%= current_user.name %> | <%= link_to "Logga ut", '/logout' %>
              <% else %>
              <%= link_to "Logga in", '/login', id: "login" %> | <%= link_to "Registrera konto", '/signup', id:"signup"%>  <%#= link_to "Jämför Leverantörer", '/page1', id:"jämför" %>
              <% end %>
            </li>
          </ul>
      </nav>







  <div class="login_main_div">
    <div id="signup_path_div">
      <%= form_tag '/login', class:"login_form" do %>
        <p class="login_paragraphs">Email Address:</p>
      <%= text_field_tag :email, params[:email], :placeholder => 'skriv in email', class: 'email_login', :required => true %>
        <p class="login_paragraphs">Lösenord:</p>
      <%= password_field_tag :password, class:"password_login_tag"%>
      <%= submit_tag "Logga in", class:"submit_tag_login"%>
      <% end %>
    </div>

<%= link_to "forgotten password?", new_password_reset_path %>

     <%= link_to "Registera nytt konto", '/signup', class:"login_signup_path"%>
  </div>

</div>
  <div class="footer_index">
  <p class="footer_index_text">          Digirek AB <br> org.nr: 556976-8269 <br>
      Gumshornsgatan 7, 114 60 Göteborg
    </p>

    <a href="#" class="fa fa-facebook"></a>

    <a href="#" class="fa fa-linkedin"></a>

    <a href="#" class="fa fa-instagram"></a>

    <a href="#" class="fa fa-youtube"></a>
  </div>
</body>
