<button id="back"><%= link_to 'Back to Amazonia.com', root_path %></button>


<div class="wrapper" background = "white">
  <div class="box1">

<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password" %></div>
<% end %>
</div>
</div>
