<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @contract.position %>
</p>

<p>
  <strong>User:</strong>
  <%= @contract.user_id %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @contract.supplier_id %>
</p>

<p>
  <strong>Order spec:</strong>
  <%= @contract.order_spec_id %>
</p>

<p>
  <strong>Product area:</strong>
  <%= @contract.product_area %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @contract.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @contract.end_date %>
</p>

<p>
  <strong>City:</strong>
  <%= @contract.city %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @contract.percentage %>
</p>

<p>
  <strong>Experiance:</strong>
  <%= @contract.experiance %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @contract.salary %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @contract.supplier %>
</p>

<p>
  <strong>Supplier price:</strong>
  <%= @contract.supplier_price %>
</p>

<p>
  <strong>Supplier name:</strong>
  <%= @contract.supplier_name %>
</p>

<p>
  <strong>Type of service:</strong>
  <%= @contract.type_of_service %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
