
<h1>Hello <%= @supplier.company %></h3>

<h2>A new client has choosen you to help them with new staff!</h2>

<h2>Contract Specifications</h2>

<h3>Area of Assitance: <%=@contract.product_area%></h3>
<h3>Job Position:<%=@contract.position%></h3>
<h3>Start Date:<%=@contract.start_date%></h3>
<h3>End Date:<%=@contract.end_date%></h3>
<h3>City:<%=@contract.city%></h3>
<h3>Percentage:<%=@contract.percentage%></h3>
<h3>Experience:<%=@contract.experiance%></h3>
<h3>Monthly Salary:<%=@contract.salary%></h3>
<h3>Supplier Name:<%=@contract.supplier_name%></h3>
<h3>Price per hour:<%=@contract.supplier_price%></h3>
<h3>Type of service:<%=@contract.type_of_service%></h3>


<h2>Client contact details</h2>
<h3><%=@user.name%></h3>
<h3><%=@user.company%></h3>
<h3><%=@user.company_number%></h3>
<h3><%=@user.email%></h3>
<h3><%=@user.telephone_number%></h3>


<h1>The client has recived the same contract details, and is now expecting you to get in contact with them to confirm the education background, type of experience, and what personal skills that the candidates need to possess.</h1>
