<!DOCTYPE html>
<html>
  <head>
    <title>Clone</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">


      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- <div class="login_first_page_div">
      <% if current_user %>
      Välkommen <%= current_user.name %> | <%= link_to "Logga ut", '/logout' %>
      <% else %>
      <%= link_to "Logga in |", '/login', id: "login" %> <%= link_to "Registrera konto", '/signup', id:"signup"%>  <%#= link_to "Jämför Leverantörer", '/page1', id:"jämför" %>
      <% end %>
    </div> -->

    <div class="row">

    <div class="col-md-6 logo">

      <h1 class="h1_index"> &#9678;Digirek
      </h1><p>Choose the right recruitment partner for you</p>
      </div>

      <div class="col-md-6 navbar_column">
      <nav class="navbar navbar-default navbar-fixed-top">



              <ul class="nav nav-tabs">
                <li role="presentation">
                  <%= link_to "Hem", '/main_page', id: "mainpage" %>
                </li>
                <li role="presentation" class="active">
                  <%= link_to "Om Oss", '/om_oss', class:"top_menu" %>
                </li>
                <li role="presentation" class="active">
                  <%= link_to "Kontakt", '/kontakt', class:"top_menu" %>
                </li>
                <li role="presentation" class="active" id="last_li_main">
                  <div class="login_first_page_div">
                    <% if current_user %>
                    Välkommen <%= current_user.name %> | <%= link_to "Logga ut", '/logout', id:"logga_ut"%>
                    <% else %>
                    <%= link_to "Logga in |", '/login', id: "login" %> <%= link_to "Registrera konto", '/signup', id:"signup"%>  <%#= link_to "Jämför Leverantörer", '/page1', id:"jämför" %>
                    <% end %>
                  </div>

                </li>
                <!-- <li role="presentation" class="login_register_option">

                </li> -->
              </ul>

          </nav>
      </div>
    </div>




    <%= yield %>
  </body>
</html>
